<h1>About Blocmarks</h1>
<p>Created by: Jeffrey Liu</p>

<div class="row">
  <div class="col-md-8">
    <h3>User Stories</h3>
      <ul>1. As a user, I want to <b>sign up</b> for a free account by providing a user name, password and email.</ul>
      <ul>2. As a user, I want to <b>sign in and out</b> of Blocmarks.</ul>
      <ul>3. As a user, I want to <b>email</b> a URL to Blocmarks and have it saved in the Blocmarks database.</ul>
      <ul>4. As a user, I want to <b>see</b> an index of all topics and their bookmarks.</ul>
      <ul>5. As a user, I want to <b>create/read/update/delete</b> bookmarks.</ul>
      <ul>6. As a user, I want to be the only one allowed to delete and update my bookmarks.</ul>
      <ul>7. As a user, I want to <b>"like and unlike"</b> bookmarks created by other users.</ul>
      <ul>8. As a user, I want to <b>see</b> a list of bookmarks on my personal profile that I've added or liked.</ul>
  </div>
</div>
